@model IEnumerable<Lab2_MVC_Sosa.Models.ClsPersona>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <center>
            <h1>Lista de Personas</h1>
            <br /> <br />
            <table border="1" bordercolor="#000ddf">
                <tr>
                    <th>APELLIDOS</th>
                    <th>NOMBRES</th>
                    <th>EMAIL</th>
                    <th>SEXO</th>
                    <th>EDAD</th>
                    <th>TALLA</th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.apellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.email)</td>
                    <td>@Html.DisplayFor(modelItem => item.sexo)</td>
                    <td>@Html.DisplayFor(modelItem => item.edad)</td>
                    <td>@Html.DisplayFor(modelItem => item.talla)</td>
                </tr>
                }

            </table>
        </center>
    </div>
</body>
</html>
