@model Lab2_MVC_Sosa.Models.ClsBisiesto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Año Bisiesto y No Bisiesto</h1>
        <br /><br />
              <div>
                  <!--                    Accion,    Controlador-->
                  @using (Html.BeginForm("Visualizar", "Bisiesto", FormMethod.Post))
                  {
                      <div>
                          @*Html.LabelFor(model => model.inicio, "Año Inicial: ")*@
                          @Html.LabelFor(model => model.inicio, "Año Inicial: ")
                          @Html.TextBoxFor(model => model.inicio)
                      </div>
                      <div>
                          @Html.LabelFor(model => model.termino, "Año Final: ")
                          @Html.TextBoxFor(model => model.termino)
                      </div>

                      <label>
                          @Html.RadioButton("Anio", "Bisiestos", true) <label>Años Bisiesto</label>
                      </label>
                      <label>
                          @Html.RadioButton("Anio", "No Bisiestos", true) <label>Años no Bisiesto</label>
                      </label>
                      <label>
                          @Html.RadioButton("Anio", "Ambos", true) <label>Ambos</label>
                      </label>
                      <br /> <br />
                      <input type="submit" value="Generar" />
                      <br /> <br />

                  }
              </div>
    </div>
</body>
</html>
